@model SteelBro.Models.Order

@{
    ViewData["Title"] = "Просмотр заказа";
}

<link rel="stylesheet" href="~/css/manager.css" asp-append-version="true" />
<section class="content-block">
    <section class="components-table">
        <h3>Информация</h3>
        <div class="blocks">
            <div class="user-info-attributes">
                <p><strong>ФИО:</strong></p>
                <p><strong>Имя пользователя:</strong></p>
                <p><strong>Номер телефона:</strong></p>
                <p><strong>Email:</strong></p>
            </div>
            <div class="user-info">
                <p id="FIO">@Model.Client.LastName @Model.Client.FirstName @Model.Client.MiddleName</p>
                <p id="username">@Model.Client.User.Username</p>
                <p id="phone">@Model.Client.PhoneNumber</p>
                <p id="email">@Model.Client.Email</p>
            </div>
        </div>
        <div class="components">
            <h2>Используемые компоненты:</h2>
            <ul>
                @foreach (var componentOrder in Model.ComponentOrders)
                {
                    <li>@componentOrder.Component.ComponentName (@componentOrder.Component.Specifications): @componentOrder.Quantity</li>
                }
            </ul>
        </div>
        <div class="status">
            <h2>Статус:</h2>
            <p id="current-status">@Model.Status.StatusName</p>
            <label for="order-status">Изменить статус заказа</label>
            <select id="order-status">
                @foreach (var status in ViewBag.Statuses)
                {
                    <option value="@status.StatusName">@status.StatusName</option>
                }
            </select>
            <div class="but">
                <button id="change-status-btn" class="btn">Применить</button>
            </div>
        </div>
        <div class="but">
            <button class="btn" id="back">Назад</button>
        </div>
    </section>
</section>

<!-- Передача OrderId через data-* атрибут -->
<div data-order-id="@Model.OrderId" style="display: none;"></div>

<script src="~/js/backScript.js" asp-append-version="true"></script>
<script src="~/js/view/viewOrder.js" asp-append-version="true"></script>